.jumbotron {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--colorBlack);
}

.wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.foreground {
  z-index: 10;
  position: absolute;
}

.jumbotronContainer {
  position: relative;
  z-index: 100;
}

.jumbotronCard {
  margin-left: 5%;
  margin-bottom: 5%;
  z-index: 100;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.jumbotronTitle {
  color: var(--colorWhite);
  position: relative;
  width: max-content;
  font-family: var(--fontPrimary);
}

.jumbotronTitle::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 0;
  background-color: var(--colorPrimary);
  animation: title-bell-animation 400ms linear 800ms 1 normal forwards;
}

@keyframes title-bell-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.jumbotronBell {
  width: 5px;
  height: 100%;
  background-color: var(--colorPrimary);
  margin-left: 5%;
}

.jumbotronDetails {
  position: relative;
  padding: var(--margin-xxl);
  display: grid;
  gap: var(--margin-xxl);
}

.jumbotronDetails::after {
  position: absolute;
  content: "";
  left: -5px;
  top: 0;
  width: 5px;
  background-color: var(--colorPrimary);
  height: 0;
  animation: details-bell-animation 400ms linear 400ms 1 normal forwards;
}

@keyframes details-bell-animation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.jumbotronDescription {
  color: var(--colorWhite);
  display: grid;
  gap: var(--margin-s);
}

.jumbotronDescriptionBounceSpan {
  position: relative;
  height: 0;
  margin-bottom: 10px;
}

.jumbotronDescriptionBounceSpan::after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--colorBlackRGB), 1);
  content: "";
  bottom: -5px;
  left: 0;
  z-index: 10;
  animation-name: span-curtain;
  animation-duration: 1000ms;
  animation-delay: 800ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes span-curtain {
  0% {
    height: 100%;
  }
  90% {
    background-color: rgba(var(--colorBlackRGB), 1);
    height: 4px;
  }
  100% {
    background-color: var(--colorPrimary);
    height: 4px;
  }
}

.jumbotronButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--margin-xl);
}

.floatingButtonWrapper {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

/* mobile */
@media (max-width: 480px) {
  .jumbotron {
    min-height: 100vh;
  }
  .jumbotronCard {
    margin-top: 35px;
  }
  .jumbotronButtons {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--margin-s);
  }
}

/* tablet horizontal */
@media (min-width: 768px) and (max-width: 1279px) and (max-height: 800px) {
  .jumbotronButtons {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--margin-s);
  }
}

@media (min-width: 481px) and (max-width: 800px) and (min-height: 962px) and (max-height: 1280px) {
  .jumbotron {
    min-height: 100vh;
  }
  .jumbotronButtons {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--margin-s);
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .jumbotron {
    min-height: 100vh;
  }
  .jumbotronButtons {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--margin-s);
  }
}

/* dekstop */
@media (min-width: 1280px) and (max-width: 1536px) {
  .jumbotron {
    min-height: 100vh;
  }
}

@media (min-width: 1537px) {
  .jumbotron {
    min-height: 100vh;
  }
}
