.wrapperOuter {
  background-size: 100% 100%;
}

.wrapper {
  background-color: rgba(23, 24, 32, 0.7);
  position: relative;
}

.offerWrapperOuter {
  /* background-image: url("../images/ct_kosciuszki_inside.jpg"); */
}

.mainWrapperOuter {
  /* background-image: url("../images/ct_manhattan.jpg"); */
}

/* mobile */
@media (max-width: 480px) {
  .wrapperOuter {
    background-size: 100% 25%;
    background-repeat: repeat-y;
  }
  .is-desktop {
    display: none;
  }
  .is-tablet {
    display: none;
  }
  .is-mobile {
    display: inherit;
  }
}

@media (min-width: 768px) and (max-width: 1279px) and (max-height: 800px) {
  .wrapperOuter {
    background-attachment: fixed;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: none;
  }
  .is-tablet {
    display: inherit !important;
  }
}

@media (min-width: 481px) and (max-width: 800px) and (min-height: 962px) and (max-height: 1280px) {
  .wrapperOuter {
    background-attachment: fixed;
  }

  .is-desktop {
    display: none;
  }

  .is-mobile {
    display: none;
  }

  .is-tablet {
    display: inherit !important;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .wrapperOuter {
    background-attachment: fixed;
  }

  .is-desktop {
    display: none;
  }

  .is-tablet {
    display: inherit !important;
  }

  .is-mobile {
    display: none;
  }
}

/* desktop */
@media (min-width: 1280px) and (max-width: 1536px) {
  .wrapperOuter {
    background-attachment: fixed;
  }
  .is-desktop {
    display: inherit !important;
  }
  .is-tablet {
    display: none;
  }
  .is-mobile {
    display: none;
  }
}

@media (min-width: 1537px) {
  .wrapperOuter {
    background-attachment: fixed;
  }
  .is-desktop {
    display: inherit !important;
  }
  .is-tablet {
    display: none;
  }
  .is-mobile {
    display: none;
  }
}
