.news {
  background-color: var(--colorPrimary);
  position: relative;
  font-family: var(--fontPrimary);
  padding: 5%;
  max-height: calc(100vh - 70px);
}

/* .newsTitle {
} */

.newsPhotoWrapper {
  position: relative;
  box-sizing: border-box;
  margin: 5% 15%;
}

.newsPhoto {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.newsDescription {
  text-align: center;
  margin: 0;
}

.newsDescription p {
  font: var(--h5);
}

.newsSubtitle {
  text-align: center;
  margin: 0;
}

.newsPrice {
  text-align: center;
}

.newsPriceBefore {
  color: var(--colorRed);
  text-decoration: line-through;
}

.newsPriceAfter {
  margin-right: 20px;
  color: var(--colorBlack);
}

.news::after {
  top: -100px;
  left: 0;
  content: "";
  position: absolute;
  border-top: 100px solid transparent;
  border-left: 50vw solid var(--colorPrimary);
  border-right: 50vw solid var(--colorPrimary);
  border-bottom: 0 solid var(--colorPrimary);
}

@media (max-width: 480px) {
  .news {
    min-height: 300px;
  }
  .newsPhotoWrapper {
    height: 30vh;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .news {
    min-height: 300px;
  }
  .newsPhotoWrapper {
    height: 35vh;
  }
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .news {
    min-height: 500px;
  }
  .newsPhotoWrapper {
    height: 35vh;
  }
}

/* dekstop */
@media (min-width: 1537px) {
  .news {
    min-height: 650px;
  }
  .newsPhotoWrapper {
    height: 40vh;
  }
}
