.accessories {
  box-sizing: border-box;
  font-family: var(--fontPrimary);
  background-color: var(--colorPrimary);
  position: relative;
}

.accessoriesForeground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/ct_icon_black.png");
  background-repeat: repeat;
  background-size: 50px 50px;
  opacity: 0.03;
}

.wave {
  margin-top: -1px;
}

.wave svg {
  position: static;
}

.wave svg path {
  fill: var(--colorBlack);
}

.accessoriesSection {
  padding: 0 5% 100px;
  display: grid;
  gap: var(--margin-xl);
  max-width: 1200px;
  margin: 0 auto;
}

.accessoriesTitle {
  text-align: center;
  font-family: var(--fontPrimary);
  letter-spacing: 0.5px;
}

.accessoriesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--margin-xxl);
}
