.accessories {
  box-sizing: border-box;
  font-family: var(--fontPrimary);
  background-color: var(--colorPrimary);
  position: relative;
}

.accessoriesForeground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/ct_icon_black.png");
  background-repeat: repeat;
  background-size: 50px 50px;
  opacity: 0.03;
}

.wave svg {
  position: static;
}

.wave svg path {
  fill: var(--colorBlack);
}

.accessoriesTitle {
  text-align: center;
}

.accessoriesDescription {
  margin-bottom: 50px;
}

.accessoriesSection {
  padding: 10%;
}

.accessoriesList {
  --grid-layout-gap: 10px;
  --grid-column-count: 4;
  --grid-item--min-width: 300px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  row-gap: 2rem;
  column-gap: var(--grid-layout-gap);
}

@media (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 1279px) {
}

/* dekstop */
@media (min-width: 1280px) and (max-width: 1536px) {
}

@media (min-width: 1537px) {
}
