.accessory {
  border-radius: 24px;
  background-color: var(--colorPrimary);
  /* min-width: 200px; */
  /* padding: 12px; */
  position: relative;
  background: linear-gradient(
    90deg,
    var(--colorPrimary),
    var(--colorWhite),
    var(--colorPrimary)
  );
  box-shadow: rgba(var(--colorPrimary), 0.25) 0px 50px 100px -20px,
    rgba(var(--colorPrimary), 0.3) 0px 30px 60px -30px;
  height: 250px;
}

.accessoryImageWrapper {
  position: relative;
  padding: 2.5%;
  padding: 10%;
  box-sizing: border-box;
  height: 80%;
  /* height: 400px; */
  /* max-width: 50%; */
}

.accessoryImage {
  object-fit: contain;
  /* margin: 10%; */
  width: 100%;
  height: 100%;
}

.accessoryFooter {
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 12px;
  background-color: var(--colorWhite);
}

.accessoryIconWrapper {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorPrimary);
  margin-right: 12px;
}

.accessoryIcon {
  font-size: 30px !important;
  color: var(--colorBlack);
}

.accessoryTextWrapper {
  font-size: 16px;
  line-height: 24px;
  color: var(--colorBlack);
}

.accessoryText {
  /* font-size: 16px;
  line-height: 24px;
  color: var(--colorBlack); */
}
