.timers {
  background-color: var(--colorPrimary);
  box-sizing: border-box;
  position: relative;
}

.timersContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 5%;
  display: grid;
  gap: var(--margin-xl);
  width: 100%;
}

.timersTriangle {
  border-top: 100px solid var(--colorPrimary);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 0 solid transparent;
  border-color: var(--colorBlack);
}

.timersWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.timers .title {
  color: var(--colorBlack);
  font-family: var(--fontPrimary);
  text-align: center;
}

.timerItem {
  font-family: var(--fontPrimary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.timerIcon {
  height: 116px;
  width: 116px;
  color: var(--colorBlack);
  font-size: 116px !important;
  margin-bottom: 20px;
}

/* mobile */
@media (max-width: 480px) {
  .timers .title {
    /* font-size: 28px; */
    margin: 0 0 5%;
  }

  .timersTriangle {
    border-top: 100px solid var(--colorPrimary);
  }

  .timerItem {
    width: 100%;
    margin-bottom: 100px;
  }

  #clients {
    transform: translateX(300%);
  }

  #repairs {
    transform: translateX(-300%);
  }

  #brand {
    transform: translateX(300%);
  }

  .translate {
    transform: translate(0) !important;
    transition: transform 1500ms;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .timers .title {
    /* font-size: 30px; */
    /* margin: 0 0 5%; */
  }
  .timersTriangle {
    border-top: 125px solid var(--colorPrimary);
  }

  .timerItem {
    width: 100%;
    margin-bottom: 80px;
  }

  #clients {
    transform: translateX(300%);
  }

  #repairs {
    transform: translateX(-300%);
  }

  #brand {
    transform: translateX(300%);
  }

  .translate {
    transform: translateX(0) !important;
    transition: transform 1500ms;
  }
}

/* dekstop */
@media (min-width: 1280px) and (max-width: 1536px) {
  .timers .title {
    /* font-size: 32px; */
    /* margin: 0 0 5%; */
  }
  .timersTriangle {
    border-top: 150px solid var(--colorPrimary);
  }

  .timerItem {
    width: 33%;
    /* margin-bottom: 80px; */
  }
  #clients {
    transform: scale(0);
    transform-origin: center;
  }

  #repairs {
    transform: scale(0);
    transform-origin: center;
  }

  #brand {
    transform: scale(0);
    transform-origin: center;
  }

  .translate {
    transform: scale(1) !important;
    transition: transform 1500ms;
  }
}

@media (min-width: 1537px) {
  .timers .title {
    /* font-size: 32px; */
    /* margin: 0 0 80px; */
  }
  .timersTriangle {
    border-top: 150px solid var(--colorPrimary);
  }
  .timerItem {
    width: 33%;
    margin-bottom: 80px;
    /* margin-bottom: 4%; */
  }
  #clients {
    transform: scale(0);
    transform-origin: center;
  }

  #repairs {
    transform: scale(0);
    transform-origin: center;
  }

  #brand {
    transform: scale(0);
    transform-origin: center;
  }

  .translate {
    transform: scale(1) !important;
    transition: transform 1500ms;
  }
}
