.ServiceItem {
  box-shadow: rgba(var(--colorPrimaryRGB), 0.5) 0px 0px 15px;
  background-color: var(--colorWhite);
  border-radius: 999px;
  position: relative;
  padding: 11px 11px 11px 50px;
  font-family: var(--fontPrimary);
}

.ServiceItemCircle {
  position: absolute;
  /* padding: 12px; */
  left: -30px;
  top: -10px;
  /* transform: translate(-90%, -25%); */
  border-radius: 999px;
  width: 70px;
  height: 70px;
  background-color: var(--colorWhite);
  box-shadow: rgba(var(--colorPrimaryRGB), 0.5) 0px 0px 15px;
}

.ServiceItemTitleWrapper,
.ServiceItemCircleText {
  margin: 0;
}

.ServiceItemIcon {
  font-size: 24px;
  line-height: 24px;
  /* line-height: 24px; */
  vertical-align: middle;
}

.ServiceItemTitle {
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  margin-left: 10px;
  font-weight: bold;
}

.ServiceItemCircleText {
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  vertical-align: middle;
}
