.footer {
  background-color: var(--colorBlack);
  display: flex;
  flex-wrap: wrap;
  padding: 25px 10%;
  box-sizing: border-box;
}

.footer .row {
  width: 100%;
}

.footer .label {
  color: var(--colorWhite);
  font-weight: bold;
  width: max-content;
  margin: 15px 0 6px;
  font-family: var(--fontPrimary);
  border-bottom: solid 2px var(--colorPrimary);
  box-sizing: border-box;
  padding: 0 5px 2px;
}

.footer .text {
  font-family: var(--fontPrimary);
  color: var(--colorWhite);
  display: block;
  font-weight: lighter;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0 5px 3px;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media (max-width: 480px) {
  .footer .row {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .footer .row {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .footer .row {
    width: 33%;
  }
}

@media (min-width: 1537px) {
  .footer .row {
    width: 33%;
  }
}
