.map {
  position: relative;
  background-color: transparent;
  padding: 0 0 100px;
  /* filter: invert(90%) hue-rotate(180deg); */
}

/* TODO: add maps */

.map::after {
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  /* border-top: 100px solid transparent;
  border-left: 50vw solid var(--colorPrimary);
  border-right: 50vw solid var(--colorPrimary);
  border-bottom: 0 solid var(--colorPrimary); */
}

.mapTitlewrapperOuter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mapTitlewrapperInner {
  background-color: var(--colorPrimary);
  border-radius: 4px;
}

.mapTitle {
  font-family: var(--fontPrimary);
  display: inline-block;
  text-align: center;
  color: var(--colorBlack);
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 0;
}

.maps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  box-sizing: border-box;
}

.mapWrapper {
  overflow: hidden;
  box-sizing: border-box;
}

.mapIframeHeader {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--colorPrimary);
}

.mapIframeTitle {
  color: var(--colorBlack);
  font-family: var(--fontPrimary);
  margin: 0;
  text-align: center;
}

.mapWrapper iframe {
  height: 300px;
  width: 100%;
  border: 1px solid var(--colorPrimary);
  box-sizing: border-box;
}

/* mobile */
@media (max-width: 480px) {
  .map::after {
    border-top: 100px solid transparent;
  }
  .mapTitlewrapperInner {
    padding: 6px 24px;
    margin: 20px 0 0;
  }
  .mapTitle {
    font-size: 28px;
  }
  .mapWrapper {
    width: 100%;
    padding: 5% 0;
  }
  .mapWrapper iframe {
    height: 300px;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .map::after {
    border-top: 125px solid transparent;
  }
  .mapTitlewrapperInner {
    padding: 6px 24px;
    margin: 50px 0 0;
  }
  .mapTitle {
    font-size: 30px;
  }
  .mapWrapper {
    width: 100%;
    padding: 5% 0;
  }
  .mapWrapper iframe {
    height: 400px;
  }
}

/* dekstop small*/
@media (min-width: 1280px) and (max-width: 1536px) {
  .map::after {
    border-top: 150px solid transparent;
  }
  .mapTitlewrapperInner {
    padding: 6px 24px;
    margin: 100px 0 0;
  }
  .mapTitle {
    font-size: 32px;
  }
  .mapWrapper {
    width: 100%;
    padding: 2.5%;
  }
  .mapWrapper iframe {
    height: 500px;
  }
}

@media (min-width: 1537px) {
  .map::after {
    border-top: 150px solid transparent;
  }
  .mapTitlewrapperInner {
    padding: 6px 24px;
    margin: 100px 0 0;
  }
  .mapTitle {
    font-size: 32px;
  }
  .mapWrapper {
    width: 100%;
    padding: 2.5%;
  }
  .mapWrapper iframe {
    height: 500px;
  }
}
