button {
  padding: 0;
  border: none;
  outline: none;
  z-index: 500;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.action-button {
  font-family: "Rosa", sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  color: #f1f1f1;
  transition: transform 200ms ease-in, width 200ms ease-in;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 99px;
  padding: 12px 6px;
  height: 52px;
  margin: 5px 0;
}

.floating-button {
  position: fixed;
  right: -52px;
}

.action-button:hover {
  transform: scale(1.2);
}

.action-button > p {
  margin: 0 0 0 6px;
  transition: transform 1s ease-in;
  transform-origin: 0 0;
}

.action-button > span {
  font-size: 16px;
  line-height: 20px;
  width: 20px;
  background-color: #f1f1f1;
  padding: 4px;
  border-radius: 50%;
  margin: 0 6px;
}

.call-button {
  background-color: #008000;
}

.opinion-button {
  background: #df861d;
}

.direction-button {
  background-color: #aa3d01;
}

.call-button > span {
  color: #008000;
}

.opinion-button > span {
  color: #df861d;
}

.direction-button > span {
  color: #aa3d01;
}

.call-button.floating-button {
  bottom: 4vw;
}
.direction-button.floating-button {
  bottom: calc(4vw + 52px);
}
.opinion-button.floating-button {
  bottom: calc(4vw + 104px);
}

@media (max-width: 480px) {
  .action-button.floating-button {
    height: 46px;
    width: 46px;
    margin: 0;
    padding: 9px 3px;
  }

  /* .call-button.floating-button {
    bottom: 4%;
  }
  .direction-button.floating-button {
    bottom: calc(4% + 64px)
  }
  .opinion-button.floating-button {
    bottom: calc(4% + 128px)
  } */
}

/* @media (min-width: 481px) and (max-width: 1279px) {
  .call-button.floating-button {
    bottom: 4%;
  }
  .direction-button.floating-button {
    bottom: 10%;
  }
  .opinion-button.floating-button {
    bottom: 16%;
  }
} */
