.jumbotron {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.jumbotron .background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  object-fit: cover;
}

.jumbotron::after {
  top: 0;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  background-color: rgba(23, 24, 32, 0.7);
}

.jumbotron-container {
  width: 300vw;
  position: relative;
  display: flex;
  min-height: 100vh;
  z-index: 100;
}

.content {
  width: 100%;
  height: 100%;
  padding-top: 65px;
  box-sizing: border-box;
  z-index: 100;
}

.content-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

.slide-animating {
  transition: transform 1000ms;
  transform: translateX(-100%);
}

.title-span {
  border-right: 0.05em solid;
  margin-left: 0.1em;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.information h1 {
  height: 36px;
  font-family: "Ubuntu", sans-serif;
  color: #f1f1f1;
  width: max-content;
  padding-bottom: 12px;
  border-bottom: 2px solid #fdc029;
}

.information ul {
  margin: 0;
  list-style: none;
  padding-left: 1em;
}

.information ul li::before {
  content: "\2022";
  color: #f1f1f1;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.information ul li {
  color: #f1f1f1;
  font-family: "Josefin Sans", sans-serif;
}

.gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
}

.gallery h2 {
  color: #f1f1f1;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.gallery-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-box {
  position: relative;
  text-align: center;
  transition: transform 0.8s linear 5s;
  transform-style: preserve-3d;
}

.flip-box img {
  object-fit: contain;
  border: 2px solid #fdc029;
  width: 100%;
  background-color: #f1f1f1;
}

.flip-box-inner-rotated {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  perspective: 0;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: rotateX(0deg);
}

.flip-box-back {
  transform: rotateY(180deg);
}

/* mobile */
@media (max-width: 480px) {
  .content-wrapper {
    padding: 2.5% 10%;
  }
  .content-wrapper h1 {
    font-size: 40px;
    margin: 0 0 12.5%;
  }
  .content-wrapper ul li {
    margin-bottom: 3%;
    font-size: 20px;
  }
  .flip-box {
    height: 150px;
    margin: 2.5% 0;
    width: 80%;
  }
  .flip-box img {
    height: 150px;
  }
}

/* tablet horizontal */
@media (min-width: 768px) and (max-width: 1279px) and (max-height: 800px) {
  .content-wrapper {
    padding: 2.5% 10%;
  }
  .content-wrapper h1 {
    font-size: 40px;
    margin: 0 0 12.5%;
  }
  .content-wrapper ul li {
    margin-bottom: 3%;
    font-size: 24px;
  }
  .flip-box {
    height: 350px;
    margin: 0 2.5%;
    width: 80%;
  }
  .flip-box img {
    height: 350px;
  }
}

@media (min-width: 481px) and (max-width: 800px) and (min-height: 962px) and (max-height: 1280px) {
  .content-wrapper {
    padding: 2.5% 10%;
  }
  .content-wrapper h1 {
    font-size: 40px;
    margin: 0 0 12.5%;
  }
  .content-wrapper ul li {
    margin-bottom: 3%;
    font-size: 22px;
  }
  .information {
    width: 100vw;
  }
  .flip-box {
    height: 250px;
    margin: 0 2.5%;
    width: 45%;
  }
  .flip-box img {
    height: 250px;
  }
}

/* dekstop */
@media (min-width: 1280px) and (max-width: 1536px) {
  .content-wrapper {
    padding: 2.5% 10%;
  }
  .content-wrapper h1 {
    font-size: 40px;
    margin: 0 0 12.5%;
  }
  .content-wrapper ul li {
    margin-bottom: 3%;
    font-size: 24px;
  }
  .flip-box {
    height: 250px;
    margin: 2.5%;
    width: 45%;
  }
  .flip-box img {
    height: 250px;
  }
}

@media (min-width: 1537px) {
  .content-wrapper {
    padding: 2.5%;
  }
  .content-wrapper h1 {
    font-size: 40px;
    margin: 0 0 12.5%;
  }
  .content-wrapper ul li {
    margin-bottom: 3%;
    font-size: 26px;
  }
  .flip-box {
    height: 300px;
    margin: 2.5%;
    width: 40%;
  }
  .flip-box img {
    height: 300px;
  }
}
