#news {
  background-color: #fdc029;
  position: relative;
  font-family: "Rosa", sans-serif;
}

.news-title {
  font-family: "Dancing Script", cursive;
}

.news-text {
  font-family: "Dancing Script", cursive;
}

#news h3 {
  text-align: center;
  padding: 5% 0;
  margin: 0;
}

/* #news::after {
  top: -100px;
  left: 0;
  content: "";
  position: absolute;
  border-top: 100px solid transparent;
  border-left: 50vw solid #fdc029;
  border-right: 50vw solid #fdc029;
  border-bottom: 0 solid #fdc029;
} */

#news h1 {
  font-family: "Rosa", sans-serif;
  text-align: center;
  margin: 0;
}

@media (max-width: 480px) {
  #news {
    min-height: 300px;
  }
  #news h1 {
    font-size: 28px;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  #news {
    min-height: 300px;
  }
  #news h1 {
    font-size: 30px;
  }
}

@media (min-width: 1280px) and (max-width: 1536px) {
  #news {
    min-height: 500px;
  }
  #news h1 {
    font-size: 32px;
  }
}

/* dekstop */
@media (min-width: 1537px) {
  #news {
    min-height: 650px;
  }
  #news h1 {
    font-size: 34px;
  }
}
