.snowflake {
  --size: 10px;
  width: var(--size);
  height: var(--size);
  background: #f1f1f1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: #{random(100)}vw;
  animation: snowfall #{2 + random(5)}s linear infinite;
  animation-delay: -#{random(5)}s;
}

@keyframes snowfall {
  0% {
    left: var(--left-ini);
    top: 0;
  }
  100% {
    left: var(--left-end);
    top: calc(100% - var(--size));
  }
}

@for $i from 1 through 20 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(8) + 4}px;
    --left-ini: #{random(100)}vw;
    --left-end: calc(var(--left-ini) + #{random(20) - 10}vw);
    left: #{random(100)}vw;
    animation: snowfall #{2 + random(5)}s linear infinite;
    animation-delay: -#{random(5)}s;
  }
}

.snowflake:nth-child(6n) {
  filter: blur(1px);
}
