body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

::-moz-focus-inner {
  border: 0;
}

.container {
  background-image: url("../images/ct_manhattan.jpg");
  background-size: 100% 100%;
}

.container-wrapper {
  background-color: rgba(23, 24, 32, 0.7);
  position: relative;
}

/* mobile */
@media (max-width: 480px) {
  .container {
    background-size: 100% 25%;
    background-repeat: repeat-y;
  }
  .is-desktop {
    display: none !important;
  }
  .is-tablet {
    display: none !important;
  }
}

/* @media (min-width: 481px) and (max-width: 1279px) {
  .is-desktop {
    display: none !important;
  }
  .is-tablet {
    display: inherit;
  }
} */
@media (min-width: 768px) and (max-width: 1279px) and (max-height: 800px) {
  .container {
    background-attachment: fixed;
  }
  .is-desktop {
    display: none !important;
  }

  .is-tablet {
    display: inherit;
  }
}

@media (min-width: 481px) and (max-width: 800px) and (min-height: 962px) and (max-height: 1280px) {
  .container {
    background-attachment: fixed;
  }

  .is-desktop {
    display: none !important;
  }

  .is-tablet {
    display: inherit;
  }
}

/* dekstop */
@media (min-width: 1280px) and (max-width: 1536px) {
  .container {
    background-attachment: fixed;
  }
  .is-desktop {
    display: inherit;
  }
  .is-tablet {
    display: inherit;
  }
}

@media (min-width: 1537px) {
  .container {
    background-attachment: fixed;
  }
  .is-desktop {
    display: inherit;
  }
  .is-tablet {
    display: inherit;
  }
}
