.card-triangle,
.card-triangle::before,
.card-triangle::after {
  position: absolute;
  border-style: solid;
  z-index: 100;
}

.card-triangle-top-left,
.card-triangle-top-left::before,
.card-triangle-top-left::after {
  top: 0;
  left: 0;
  border-color: rgba(253, 192, 41, 0.6) transparent transparent
    rgba(253, 192, 41, 0.6);
}

.card-triangle-top-right {
  top: 0;
  right: 0;
}

.card-triangle-bottom-right,
.card-triangle-bottom-right::before,
.card-triangle-bottom-right::after {
  bottom: 0;
  right: 0;
  border-color: transparent rgba(253, 192, 41, 0.6) rgba(253, 192, 41, 0.6)
    transparent;
}

.card-triangle-bottom-left {
  bottom: 0;
  left: 0;
}

.card-triangle-top-left-medium::before {
  top: -70px;
  left: -25px;
  content: "";
  border-width: 50px;
}

.card-triangle-top-left-medium {
  border-width: 70px 25px;
}

.card-triangle-top-left-medium::after {
  top: -70px;
  left: -25px;
  content: "";
  border-width: 25px 90px;
}

.card-triangle-top-right-medium {
  border-color: rgba(253, 192, 41, 1) rgba(253, 192, 41, 1) transparent
    transparent;
  border-width: 50px;
}

.card-triangle-bottom-left-medium {
  border-color: transparent transparent rgba(253, 192, 41, 1)
    rgba(253, 192, 41, 1);
  border-width: 50px;
}

.card-triangle-bottom-right-medium::before {
  bottom: -70px;
  right: -25px;
  content: "";
  border-width: 50px;
}

.card-triangle-bottom-right-medium {
  border-width: 70px 25px;
}

.card-triangle-bottom-right-medium::after {
  content: "";
  border-width: 25px 90px;
  bottom: -70px;
  right: -25px;
}

@media (max-width: 480px) {
  .card-triangle-top-right-medium {
    border-width: 25px;
  }

  .card-triangle-bottom-left-medium {
    border-width: 25px;
  }

  .card-triangle-bottom-right-medium::before {
    bottom: -55px;
    right: -15px;
    border-width: 35px;
  }

  .card-triangle-bottom-right-medium {
    border-width: 55px 15px;
  }

  .card-triangle-bottom-right-medium::after {
    border-width: 15px 70px;
    bottom: -55px;
    right: -15px;
  }

  .card-triangle-top-left-medium::before {
    top: -55px;
    left: -15px;
    border-width: 35px;
  }

  .card-triangle-top-left-medium {
    border-width: 55px 15px;
  }

  .card-triangle-top-left-medium::after {
    top: -55px;
    left: -15px;
    border-width: 15px 70px;
  }
}
