body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

::-moz-focus-inner {
  border: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  z-index: 500;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
