body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--colorBlack);
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 1rem;
}

::-moz-focus-inner {
  border: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  z-index: 500;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.floatingButtonWrapper {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  z-index: 500;
}

.material-icons {
  font-size: inherit;
}

/* color theory */

/* 
color schemes
- monochromatic - one color in different shades, tones and tints. 
First color heading, second color text or background, third color background or color text, last two colors are for accents.
- analogous - three colors next to each other on the color wheel.
- complementary - two colors opposite each other on the color wheel. Warning: can be too contrasting, use opposite saturation or value.
- split complementary - one color and two colors adjacent to its complementary color.
- triadic - three colors equally spaced on the color wheel.
- custom - combination of colors with similar saturation or chroma (or both). It can also be one color with high chroma and two colors with low chroma.
 */

/* \
hue - one of the colors from color wheel.
colour - version of hue with added white, black or gray.
chroma - brightness of a color in comparison to white.
saturation (value) - 
tone - add gray
shade - add black
tint - add white
 */

:root {
  /* fonts */
  --fontPrimary: "Quicksand", sans-serif;
  --fontSecondary: "Archivo Black", sans-serif;

  /* font sizes */
  --h1: bold clamp(2rem, 1.5rem + 2vw, 3.5rem) / 1em var(--fontSecondary);
  --h2: bold clamp(1.5rem, 1.2rem + 1.5vw, 2.8405rem) / 1.2em
    var(--fontSecondary);
  --h3: bold clamp(1.25rem, 1rem + 1.2vw, 2.3052rem) / 1.2em
    var(--fontSecondary);
  --h4: clamp(1.15rem, 0.8rem + 1vw, 1.8708rem) / 1.6em var(--fontSecondary);
  --h5: clamp(1rem, 0.8rem + 0.8vw, 1.5183rem) / 1.6em var(--fontSecondary);
  --h6: clamp(0.75rem, 0.6rem + 0.6vw, 1.2322rem) / 1.6em var(--fontSecondary);
  --p: 1rem/1.5em var(--fontPrimary);
  --caption: 0.8rem/1.5em var(--fontPrimary);
  --small: 0.64rem/1.5em var(--fontPrimary);

  /* spacing */
  --margin-xss: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
}

h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
h4 {
  font: var(--h4);
}
h5 {
  font: var(--h5);
}
h6 {
  font: var(--h6);
}
strong {
  font: var(--big);
}
p {
  font: var(--p);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title {
  text-align: center;
  letter-spacing: 0.5px;
  font-family: var(--fontPrimary);
}

@media (prefers-color-scheme: light) {
  :root {
    /* scheme */
    --colorPrimary: #fdc029;
    --colorBlack: #171820;
    --colorWhite: #f1f1f1;
    --colorRed: #f20000;
    --colorCallButton: #008000;
    --colorRoadButton: #df861d;
    --colorOpinionButton: #aa3d01;

    --colorBlackRGB: 23, 24, 32;
    --colorPrimaryRGB: 253, 192, 41;
    --colorWhiteRGB: 241, 241, 241;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* scheme */
    --colorPrimary: #fdc029;
    --colorBlack: #171820;
    --colorWhite: #f1f1f1;
    --colorRed: #f20000;
    --colorCallButton: #008000;
    --colorRoadButton: #df861d;
    --colorOpinionButton: #aa3d01;

    --colorBlackRGB: 23, 24, 32;
    --colorPrimaryRGB: 253, 192, 41;
    --colorWhiteRGB: 241, 241, 241;
  }
}
