body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

::-moz-focus-inner {
  border: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  z-index: 500;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.floatingButtonWrapper {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  z-index: 500;
}

:root {
  --fontPrimary: "Quicksand", sans-serif;
  --fontSecondary: "Archivo Black", sans-serif;
}

body {
  font-family: var(--fontPrimary);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontSecondary);
}

@media (prefers-color-scheme: light) {
  :root {
    --colorPrimary: #fdc029;
    --colorBlack: #171820;
    --colorWhite: #f1f1f1;
    --colorRed: #f20000;
    --colorCallButton: #008000;
    --colorRoadButton: #df861d;
    --colorOpinionButton: #aa3d01;

    --colorBlackRGB: 23, 24, 32;
    --colorPrimaryRGB: 253, 192, 41;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorPrimary: #fdc029;
    --colorBlack: #171820;
    --colorWhite: #f1f1f1;
    --colorRed: #f20000;
    --colorCallButton: #008000;
    --colorRoadButton: #df861d;
    --colorOpinionButton: #aa3d01;

    --colorBlackRGB: 23, 24, 32;
    --colorPrimaryRGB: 253, 192, 41;
  }
}
